<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="66f1f5">  <td>22/02/14 13:03:43</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.teardown()[pri:0, instance:com.wimTrain.testCases.RevFunctionalityTC_0001@5fbdfdcf]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2032079962</td>   <td></td> </tr>
<tr bgcolor="66f1f5">  <td>22/02/14 13:03:26</td>   <td>-17427</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setup()[pri:0, instance:com.wimTrain.testCases.RevFunctionalityTC_0001@5fbdfdcf]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2032079962</td>   <td></td> </tr>
<tr bgcolor="c0f766">  <td>22/02/14 13:03:43</td>   <td>-162</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RevFunctionalityTC_0001.testcaseOne()[pri:0, instance:com.wimTrain.testCases.RevFunctionalityTC_0001@5fbdfdcf]">testcaseOne</td> 
  <td>main@2032079962</td>   <td></td> </tr>
</table>
